{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "tabWidth": 4,
  "arrowParens": "always",
  "endOfLine": "crlf",
  "trailingComma":  "all",
  "printWidth":  120
}